<!-- Home -->

<div class="home">
	<div class="home_background" style="background-image:url(images/events.jpg)"></div>
	<div class="home_content">
		<div class="container">
			<div class="row">
				<div class="col d-flex flex-row align-items-center justify-content-start">
					<div class="home_title">About</div>
					<div class="breadcrumbs ml-auto">
						<ul>
							<li><a href="/home">Home</a></li>
							<li>About</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- About -->

<div class="about">
	<div class="container">
		<div class="row">
			<div class="col">
				<div data-aos="fade-down" class="section_title_container text-center">
					<div class="section_title">join our family</div>
					<div class="section_subtitle">It's the start of an amazing journey of faith</div>
				</div>
			</div>
		</div>
		<div class="row about_row" style="align-items: center">
			<div data-aos="fade-right" class="col-lg-6">
				<div class="about_image"><img data-src="images/about.jpg" class="lazyload" alt=""></div>
			</div>
			<div data-aos="fade-left" class="col-lg-6">
					<h1 class="invisible">We offer in-person and online worship services every weekend, in a variety of styles.</h1>
				<div class="about_content">
					<div class="about_text">
						{{{ this.aboutBody }}}
						{{!-- <p>RB Community is a church located in north San Diego within the beautiful suburbs of Rancho
							Bernardo. We draw our faith family from surrounding neighborhoods of Poway, Del Sur,
							Escondido, 4S Ranch and PQ. With a 50 year legacy of generosity to our neighbors, we
							continue to embrace Biblical principles and compassionate service in the name of Jesus.</p>
						<p>We offer in-person and online worship services every weekend, in a variety of styles. Adult education options
							run throughout the week, and service opportunities for all ages run throughout the year. We
							have a unique preschool recognized for its inclusivity for children of all abilities, and we
							are blessed with a stunning campus of multiple buildings for worship, family ministries,
							fellowship and community programs. There are things happening every day of the week at RB
							Community.</p>
						<p>We have a large staff to cover all our programming, including pastors with doctoral degrees
							and advanced seminary training. Our members are active in a variety of events that impact
							the community and bless the world. Our vision is grounded in the words of Jesus, “From the
							believers shall flow rivers of living water.” John 7:38. In short, we believe encounters
							with Jesus transform lives.</p>
						<p>We invite you to worship, or to ask questions – see for yourself if God is calling you to our
							family.</p> --}}
					</div>
					{{!-- <div class="button about_button"><a href="/blog_single:3JEwFofQhW3MQcReiGLCYu">read story</a></div> --}}
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Mission -->

<div class="mission">
	<div class="mission_background parallax-window" data-parallax="scroll" data-image-src="images/mission.jpg"
		data-speed="0.8"></div>
	<div class="mission_items d-flex flex-row flex-wrap align-items-start justify-content-start">

		<div data-aos="fade-up" class="mission_item text-center">
			<div class="mission_icon"><i class="fa fa-book" aria-hidden="true"></i></div>
			<div class="mission_title">our story</div>
			<div class="mission_text">Founded as the first church in the community plan for Rancho Bernardo, our church
				has served the surrounding Poway, Escondido, 4S, Penasquitos and north San Diego neighborhoods for over
				50 years. We are a Presbyterian church in the PCUSA family of churches.</div>
		</div>

		<div data-aos="fade-up" class="mission_item text-center">
			<div class="mission_icon"><i class="fas fa-compass" aria-hidden="true"></i></div>
			<div class="mission_title">our purpose</div>
			<div class="mission_text">Put simply, our church exists “For the glory of God alone.” The Latin, “Soli Deo
				gloria,” claimed by the church leaders as a centering belief, referenced by Johann Sebastian Bach on his
				musical pieces, is our starting point for our purpose and our beliefs.</div>
		</div>

		<div data-aos="fade-up" class="mission_item text-center">
			<div class="mission_icon"><i class="fas fa-sun" aria-hidden="true"></i></div>
			<div class="mission_title">our future</div>
			<div class="mission_text">We’re a church that relies on the energy of
          God to make our way into what’s next. This is an artisan church where
          creatives of all sorts find the chance to express themselves.
          Painters, poets, writers, dancers, singers, musicians, photographers,
          sculptors, sound technicians, graphic designers… spiritual explorers
          of all sorts seek to understand Jesus Christ and to make expression of
          his grace, peace and hope to the world. It’s a fun place to be with
          God.</div>
		</div>

		<div data-aos="fade-up" class="mission_item text-center">
			<div class="mission_icon"><i class="fa fa-user" aria-hidden="true"></i></div>
			<div class="mission_title">you</div>
			<div class="mission_text">Believers belong in a faith family - a place to join folks of all ages, grow
                    in Christ, and bless the world. We offer you a chance to learn more about us and your place in God’s
                    kingdom. See the Events page for details.
			</div>
		</div>

	</div>
</div>

<!-- Team -->

<div class="team">
	<div class="container">
		<div class="row">
			<div class="col">
				<div data-aos="fade-down" class="section_title_container text-center">
					<div class="section_title">our pastors</div>
					<div class="section_subtitle">Serving in the name of Jesus</div>
				</div>
			</div>
		</div>
		<div class="row team_row" style="justify-content: space-around;">

			<!-- Team Item -->
			<div data-aos="fade-down" class="col-lg-4 team_col">
				<div class="team_item">
					<div class="team_image">
						<img data-src="images/team_1.jpg" class="lazyload" alt="">
						<div
							class="team_overlay d-flex flex-column align-items-center justify-content-end text-center trans_200">
							<div class="team_overlay_text">
								<p>Geoff leads our staff and is the main preaching pastor while we go through this season of transition.</p>
							</div>
							<div class="team_overlay_contact">
								<ul>
									<li>
										<i class="fa fa-envelope" aria-hidden="true"></i>
										<div> : geoff@rbcpc.org</div>
									</li>
									<li>
										<i class="fa fa-phone" aria-hidden="true"></i>
										<div>: 858.487.0811 x204</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="team_content text-center">
						<div class="team_name">Geoff Kohler (Rev. Dr.)</div>
						<div class="team_title">Transitional Pastor</div>
					</div>
				</div>
			</div>

			<!-- Team Item -->
			<div data-aos="fade-down" class="col-lg-4 team_col">
				<div class="team_item">
					<div class="team_image">
						<img data-src="images/team_2.jpg" class="lazyload" alt="">
						<div
							class="team_overlay d-flex flex-column align-items-center justify-content-end text-center trans_200">
							<div class="team_overlay_text">
								<p>Mofid leads our congregational care team of over 150 staff and volunteers while serving as the main preaching pastor for our Arabic speaking congregation.</p>
							</div>
							<div class="team_overlay_contact">
								<ul>
									<li>
										<i class="fa fa-envelope" aria-hidden="true"></i>
										<div> : mofid@rbcpc.org</div>
									</li>
									<li>
										<i class="fa fa-phone" aria-hidden="true"></i>
										<div>: 858.487.0811 x206</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="team_content text-center">
						<div class="team_name">Rev. Dr. Mofid Wasef</div>
						<div class="team_title">Associate Pastor</div>
					</div>
				</div>
			</div>

			<!-- Team Item -->
			{{!-- <div data-aos="fade-down" class="col-lg-4 team_col">
				<div class="team_item">
					<div class="team_image">
						<img data-src="images/team_3.jpg" class="lazyload" alt="">
						<div
							class="team_overlay d-flex flex-column align-items-center justify-content-end text-center trans_200">
							<div class="team_overlay_text">
								<p>John leads our education team that facilitates unique learning opportunities through small groups, classes, events and leadership development.</p>
							</div>
							<div class="team_overlay_contact">
								<ul>
									<li>
										<i class="fa fa-envelope" aria-hidden="true"></i>
										<div> : john@rbcpc.org</div>
									</li>
									<li>
										<i class="fa fa-phone" aria-hidden="true"></i>
										<div>: 858.487.0811 x217</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="team_content text-center">
						<div class="team_name">Rev. john scholte</div>
						<div class="team_title">Pastor of Adult Education & Discipleship</div>
					</div>
				</div>
			</div> --}}
		</div>

			<div class="row">
			<div class="col">
				<div data-aos="fade-down" class="section_title_container text-center">
					<div class="section_title">our staff</div>
					<div class="section_subtitle">Serving with all our hearts</div>
				</div>
			</div>
		</div>

		<div class="row team_row" style="justify-content: space-around;">

			{{#each staffMembers  }}
			<!-- Team Item -->
			<div data-aos="fade-down" class="col-lg-3 team_col">
				<div class="team_item">
					<div class="team_image">
						{{#if this.Photo}}
						<img srcset="https://res.cloudinary.com/rb-community-church/image/upload/f_auto/{{this.Photo.hash}}{{this.Photo.ext}} {{this.Photo.width}}w,
							https://res.cloudinary.com/rb-community-church/image/upload/f_auto,w_500/{{this.Photo.hash}}{{this.Photo.ext}} 500w,
							https://res.cloudinary.com/rb-community-church/image/upload/f_auto,w_210/{{this.Photo.hash}}{{this.Photo.ext}} 210w"
							sizes="(max-width: 575px) 545px, (max-width: 767px) 510px, (max-width:991px) 690px, (max-width: 1199px) 210px, 263px"
							alt="{{this.Photo.alternativeText}}"
							class="lazyload staffMember" alt="">
							{{else}}
							<img src="images/unnamed.jpg" alt="">
							{{/if}}
						<div
							class="team_overlay d-flex flex-column align-items-center justify-content-end text-center trans_200">
							<div class="team_overlay_text">
								{{#if this.ShortBio}}
								<p>{{this.ShortBio}}</p>
								{{/if}}
							</div>
							<div class="team_overlay_contact">
								<ul>
									{{#with Email}}
									
									<li>
										<i class="fa fa-envelope" aria-hidden="true"></i>
										<div> : {{this}}</div>
									</li>
									{{!-- <li class="emailStaff" value={{this.id}}>Email {{this.FirstName}}</li> --}}
									{{/with}}
									{{#with PhoneExtension}}
									<li>
										<i class="fa fa-phone" aria-hidden="true"></i>
										<div>: 858.487.0811 x{{this}}</div>
									</li>
									{{/with}}
								</ul>
							</div>
						</div>
					</div>
					<div class="team_content text-center">
						<div class="team_name">{{this.FirstName}} {{this.LastName}}</div>
						<div class="team_title">{{this.JobTitle}}</div>
					</div>
				</div>
			</div>
			{{/each}}

			</div>

	</div>
</div>


<!-- Blog Post Title -->

<div class="about pt-3">
	<div class="container">
		<div class="row">
			<div class="col">
				<div data-aos="fade-down" class="section_title_container text-center">
					<div class="section_title">In-Person & Online Services</div>
					<div class="section_subtitle">Get your gift bag and
						information about our monthly dinner with the Senior
						Pastor to learn more
						about our faith family.</div>
				</div>
			</div>
		</div>
		<div class="row about_row" style="align-items:center">
			<div class="col">
				<div class="about_text">
					<div class="row">
						<div data-aos="fade-right" class="col-md-6 col-xs-12">
							{{!-- <br> --}}
							<div class="about_text text-dark">
								{{!-- <h3 class="text-dark mt-3">Sunday Service Times</h3>
								<h4>In-Person Worship</h4>
								<p>9:30 AM<br>
									Sanctuary<br>(childcare provided)</p>

								<h4>Online Worship</h4>
								<p>LIVESTREAM <br>
								Sunday, 9:30 AM (YouTub) 5:00 PM<br>
									Sanctuary<br>
									SUNDAY 8:30 AM (Café)<br>
									Fellowship Center<br>
									10:00 AM<br>
									Sanctuary
								</p>
								<p>(childcare provided at all Sunday morning services 8:30, 10:00 and 11:30)</p>

								<h4><strong>Arabic Speaking Worship</strong></h4>
								<p>SUNDAY<br>
									11:00 AM<BR>
									Chapel
								</p> --}}
								{{> serviceTimes/serviceTimes}}
							</div>



						</div>
						<div data-aos="fade-left" class="col-md-6 col-xs-12 mt-3">
							<h3 class="text-dark">Main Campus</h3>
							<h4><strong>17010 Pomerado Road<br>San Diego, CA 92128</strong></h4><br>
							<figure><iframe
									src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d53526.147251446564!2d-117.09686638601549!3d33.02000700457734!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80dbf0dcaa082a5d%3A0xc6a8464cb158f9a6!2s17010%20Pomerado%20Rd%2C%20San%20Diego%2C%20CA%2092128!5e0!3m2!1sen!2sus!4v1566947479549!5m2!1sen!2sus"
									width="100%" height="350" allowfullscreen=""></iframe></figure>


						</div>
					</div>
					<div data-aos="fade-down" class="section_title mt-4 text-center">Family Ministries</div>
					<div class="row mt-2">

						{{> familyMinistryInfo/familyMinistryInfo}}
						{{!-- <div data-aos="fade-down" class="col-md-4 col-xs-12 mb-3">
							<h3 class="text-dark text-center"><a class="text-dark" href="/ministry:Children" style="border-bottom: solid 1px #327091">NextWave</a></h3>
							<h4 class="text-center">(K-5)</h4>
							<p class="text-center">NextWave Sunday school classes are downstairs in our main building.
								The emphasis is on
								Bible story-telling and Biblically based teaching. Does your child know all the books of
								the Bible? They will at Next Wave. Provided at 8:30, 10:00, and 11:30 Sunday mornings.
							</p>
						</div>
						<div data-aos="fade-down" class="col-md-4 col-xs-12 mb-3">
							<h3 class="text-dark text-center"><a class="text-dark" href="/ministry:Middle School" style="border-bottom: solid 1px #327091">MSM</a></h3>
							<h4 class="text-center">(Middle School)</h4>
							<p class="text-center">MSM (Middle School Ministries) consists of staff and leaders who are
								committed to loving
								Jesus and sharing the love of Jesus with middle school students. Sunday morning
								teachings include worship in the sanctuary and teachings in the youth room. Friday
								nights are fun and designed for students to bring their friends.</p>
						</div>
						<div data-aos="fade-down" class="col-md-4 col-xs-12 mb-3">
							<h3 class="text-dark text-center"><a class="text-dark" href="/ministry:High School" style="border-bottom: solid 1px #327091">Highway</a></h3>
							<h4 class="text-center">(High School)</h4>
							<p class="text-center">The Highway is an exciting and dynamic group of High School students
								growing in Christ
								together. Our goal is to grow students in the model of servant leadership - young men
								and women God has called them to be in Christ. Both MSM and Highway offer multiple
								retreats and mission trips throughout the year.</p>
						</div> --}}

					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
</div>
</div>

<!-- Quote -->

<div class="quote">
	<div class="container">
		<div class="row">
			<div class="col">
				<div class="quote_container text-center">
					<div data-aos="fade-down" class="quote_quote">“Our guiding vision comes from the words of Jesus. ‘From the believers will
						flow living waters.’ - John 7:38”</div>
					<div class="quote_icon"><img src="images/quote_2.png" alt=""></div>
					{{!-- <div class="quote_source">Ignatius of Antioch</div> --}}
				</div>
			</div>
		</div>
	</div>
</div>

<script src="/js/jquery-3.2.1.min.js"></script>
<script src="js/about.js"></script>