<div class="super_container">



	<!-- Home -->

	<div class="home">
		<div class="home_background" style="background-image:url(images/events.jpg)"></div>
		<div class="home_content">
			<div class="container">
				<div class="row">
					<div class="col d-flex flex-row align-items-center justify-content-start">
						<div class="home_title">Events</div>
						<div class="breadcrumbs ml-auto">
							<ul>
								<li><a href="/home">Home</a></li>
								<li>Events</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	{{!-- {{log this}} --}}






	<!-- Upcoming Event -->

	<div class="upcoming">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="section_title_container text-center">
						<div class="section_title">upcoming event</div>
						<div class="section_subtitle">Experience God's Presence</div>
					</div>
				</div>
			</div>
			<div class="row about_row">
				<div class="col-lg-6">
					<div class="upcoming_image"><img src="{{events.fields.eventImage.fields.file.url}}" alt=""></div>
				</div>
				<div class="col-lg-6">
					<div class="event_container d-flex flex-md-row flex-column align-items-start justify-content-start">
						<div class="event_date">
							<div class="d-flex flex-column align-items-center justify-content-center">
								<div class="event_day">{{events.fields.shortDay}}</div>
								<div class="event_month">{{events.fields.shortMonth}}</div>
							</div>
						</div>
						<div class="event_content">
							<div class="event_title">{{events.fields.title}}</div>
							<ul class="event_row">
								<li>
									<div class="event_icon"><img src="images/calendar.png" alt=""></div>
									<span>{{events.fields.time}}</span>
								</li>
								<li>
									<div class="event_icon"><img src="images/location.png" alt=""></div>
									<span>{{events.fields.location}}</span>
								</li>
							</ul>
						</div>
					</div>
					<div class="event_text">
						<p>{{{events.fields.description}}}</p>
					</div>

{{#if events.fields.dateToCountTo }}

					<!-- Event Timer -->
					<div class="event_timer_container ml-lg-auto">
						<ul class="event_timer">
							<div id="dateToCountTo" style="display:none">{{events.fields.dateToCountTo}}</div>
							<li>
								<div id="day" class="event_num">00</div>
								<div class="event_ss">day</div>
							</li>
							<li>
								<div id="hour" class="event_num">00</div>
								<div class="event_ss">hrs</div>
							</li>
							<li>
								<div id="minute" class="event_num">00</div>
								<div class="event_ss">min</div>
							</li>
							<li>
								<div id="second" class="event_num">00</div>
								<div class="event_ss">sec</div>
							</li>
						</ul>
					</div>

					{{/if}}
				</div>
			</div>
		</div>
	</div>




	<!-- Events -->

	{{!-- <div class="events">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="section_title_container text-center">
						<div class="section_title">list of events</div>
						<div class="section_subtitle">Events held and scheduled by us</div>
					</div>
				</div>
			</div>
		</div>
		<div
			class="events_items d-flex flex-lg-row flex-column align-items-lg-start align-items-center justify-content-lg-between justify-content-center flex-wrap">




			{{#each events}}
			{{#unless this.fields.featured}}




			<!-- Event -->

			<div class="events_item">
				<div class="events_item_image"><img src="{{this.fields.eventImage.fields.file.url}}" alt=""></div>
				<div class="events_item_content d-flex flex-row align-items-start justfy-content-start">
					<div class="event_date">
						<div class="d-flex flex-column align-items-center justify-content-center">
							<div class="event_day">{{this.fields.shortDay}}</div>
							<div class="event_month">{{this.fields.shortMonth}}</div>
						</div>
					</div>
					<div class="event_content">
						<div class="event_title"><a href="#">{{this.fields.title}}</a></div>
						<ul class="event_row">
							<li>
								<div class="event_icon"><img src="images/calendar.png" alt=""></div>
								<span>{{this.fields.time}}</span>
							</li>
							<li>
								<div class="event_icon"><img src="images/location.png" alt=""></div>
								<span>{{this.fields.location}}</span>
							</li>
						</ul>
					</div>
				</div>
			</div>

			{{/unless}}
			{{/each}} --}}


			<!-- Page Nav -->
			{{!-- <div class="container">
				<div class="row">
					<div class="col">
						<div class="page_nav">
							<ul>
								<li class="active"><a href="#">1</a></li>
								<li><a href="#">2</a></li>
								<li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div> --}}
		</div>

			<!-- Quote -->

			<div class="quote">
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="quote_container text-center">
							<div class="quote_quote">“Our guiding vision comes from the words of Jesus. ‘From the believers will flow living waters.’ - John 7:38”</div>
							<div class="quote_icon"><img src="images/quote_2.png" alt=""></div>
							{{!-- <div class="quote_source">Ignatius of Antioch</div> --}}
						</div>
					</div>
				</div>
			</div>
		</div>


		</div>



		<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.0/moment.min.js"
			type="text/javascript"></script>
		<script src="/js/jquery-3.2.1.min.js"></script>
		<script src="js/events.js"></script>