<div class="super_container">

    <!-- Home -->

    <div class="home">
        <div class="home_background" style="background-image:url(images/index.jpg)"></div>
        <div class="home_content text-center">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="home_title">“From you will flow living waters.” John 7:38 </div>
                        <div class="home_text mb-4">Jesus said it. Believe it.</div>
                        {{!-- <div class="button home_link"><a href="/services">join with us</a></div> --}}
                    </div>
                </div>
            </div>
        </div>
    </div>


    {{!-- {{log this.events}} --}}
    {{#each events}}
    {{#if this.fields.featured}}

    <!-- Event -->

    <div class="event">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div
                        class="event_container d-flex flex-lg-row flex-column align-items-center justify-content-start">
                        <div class="event_date d-flex flex-column align-items-center justify-content-center">
                            <div class="event_day">{{this.fields.shortDay}}</div>
                            <div class="event_month">{{this.fields.shortMonth}}</div>
                        </div>
                        <div class="event_content">
                            <div class="event_title"><a href="/event:{{this.sys.id}}">UPCOMING EVENT:
                                    {{this.fields.title}}</a></div>
                            <ul class="event_row">
                                <li>
                                    <div class="event_icon"><img src="images/calendar.png" alt=""></div>
                                    <span id="time">{{this.fields.time}}</span>
                                </li>
                                <li>
                                    <div class="event_icon"><img src="images/location.png" alt=""></div>
                                    <span>{{this.fields.location}}</span>
                                </li>
                            </ul>
                        </div>
                        <div class="event_timer_container ml-lg-auto">
                            <ul class="event_timer">
                                <div id="dateToCountTo" style="display:none">{{this.fields.dateToCountTo}}</div>
                                <li>
                                    <div id="day" class="event_num">00</div>
                                    <div class="event_ss">day</div>
                                </li>
                                <li>
                                    <div id="hour" class="event_num">00</div>
                                    <div class="event_ss">hrs</div>
                                </li>
                                <li>
                                    <div id="minute" class="event_num">00</div>
                                    <div class="event_ss">min</div>
                                </li>
                                <li>
                                    <div id="second" class="event_num">00</div>
                                    <div class="event_ss">sec</div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{/if}}
    {{/each}}

    <!-- About -->

    <div class="about pb-5 pt-5">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div data-aos="fade-down" class="section_title_container text-center">
                        <div class="section_title">welcome to rb community church</div>
                        <div class="section_subtitle">A note from our Senior Pastor</div>
                    </div>
                </div>
            </div>
            <div class="row about_row" style="align-items: center">
                <div class="col-lg-6">
                    <div data-aos="fade-right" class="about_image"><img src="images/about2.jpg" alt=""></div>
                </div>
                <div class="col-lg-6">
                    <div data-aos="fade-left" class="about_content">
                        <div class="about_text">
                            <p>As a pastor serving with a faithful team of Jesus followers, it is my honor to invite you
                                to any of our six services. As a husband and father of young boys, it is my blessing to
                                grow our family in a place with great people and Biblically - based programming. Be my
                                guest and,
                                <i>“taste and see the Lord is good,”</i> (Psalm 34:8), <i>“be transformed by the
                                    renewing of your mind,”</i> (Romans 12:2), and begin a new journey with the living
                                God of the universe. <br><br>

                                The fountain in front of our sanctuary (shown here), includes an engraving summarizing
                                Jesus's vision for our lives - <i>“From you will flow living waters.”</i> (John 7:38)
                                Whatever I can do to help you live out that vision from Christ, let me know. It’s an
                                adventure worth starting. <br><br>

                                Rev. Dr. Bryan Stamper
                            </p>
                        </div>
                        {{!-- <div class="button about_button"><a href="/blog_single:3JEwFofQhW3MQcReiGLCYu">read story</a></div> --}}
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Events -->

    <div class="events pt-5">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div data-aos="fade-down" class="section_title_container text-center">
                        <div class="section_title">upcoming events</div>
                        <div class="section_subtitle">Experience God's Presence</div>
                    </div>
                </div>
            </div>
        </div>
        <div data-aos="fade-down"
            class="events_items d-flex flex-lg-row flex-column align-items-lg-start align-items-center justify-content-lg-between justify-content-center">
            {{#each events}}
            {{#unless this.fields.featured}}
            {{#if this.fields.featuredOnHome}}




            <!-- Event -->
            <div class="events_item">
                <div class="events_item_image"><a href="/event:{{this.sys.id}}"><img
                            src="{{this.fields.eventImage.fields.file.url}}" alt=""></a></div>
                <div class="events_item_content d-flex flex-row align-items-start justfy-content-start">
                    <div class="event_date d-flex flex-column align-items-center justify-content-center">
                        <div class="event_day">{{this.fields.shortDay}}</div>
                        <div class="event_month">{{this.fields.shortMonth}}</div>
                    </div>
                    <div class="event_content">
                        <div class="event_title"><a href="/event:{{this.sys.id}}">{{this.fields.title}}</a></div>
                        <ul class="event_row">
                            <li>
                                <div class="event_icon"><img src="images/calendar.png" alt=""></div>
                                <span>{{this.fields.time}}</span>
                            </li>
                            <li>
                                <div class="event_icon"><img src="images/location.png" alt=""></div>
                                <span>{{this.fields.location}}</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            {{/if}}
            {{/unless}}
            {{/each}}

            {{!-- <!-- Event -->
            <div class="events_item">
                <div class="events_item_image"><img src="images/event_2.jpg" alt=""></div>
                <div class="events_item_content d-flex flex-row align-items-start justfy-content-start">
                    <div class="event_date d-flex flex-column align-items-center justify-content-center">
                        <div class="event_day">18</div>
                        <div class="event_month">mar</div>
                    </div>
                    <div class="event_content">
                        <div class="event_title"><a href="#">To Love and to Cherish, The Wedding</a></div>
                        <ul class="event_row">
                            <li>
                                <div class="event_icon"><img src="images/calendar.png" alt=""></div>
                                <span>08:00 AM - 11:00 AM</span>
                            </li>
                            <li>
                                <div class="event_icon"><img src="images/location.png" alt=""></div>
                                <span>1195 Lobortis Rd, New Orleans, New Hampshire</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Event -->
            <div class="events_item">
                <div class="events_item_image"><img src="images/event_3.jpg" alt=""></div>
                <div class="events_item_content d-flex flex-row align-items-start justfy-content-start">
                    <div class="event_date d-flex flex-column align-items-center justify-content-center">
                        <div class="event_day">18</div>
                        <div class="event_month">mar</div>
                    </div>
                    <div class="event_content">
                        <div class="event_title"><a href="#">The Christian Community in America</a></div>
                        <ul class="event_row">
                            <li>
                                <div class="event_icon"><img src="images/calendar.png" alt=""></div>
                                <span>08:00 AM - 11:00 AM</span>
                            </li>
                            <li>
                                <div class="event_icon"><img src="images/location.png" alt=""></div>
                                <span>1195 Lobortis Rd, New Orleans, New Hampshire</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div> --}}

        </div>
    </div>



    <!-- Mission -->

    <div class="mission">
        <div class="mission_background parallax-window" data-parallax="scroll" data-image-src="images/mission.jpg"
            data-speed="0.8"></div>
        <div class="mission_items d-flex flex-row flex-wrap align-items-start justify-content-start">

            <div data-aos="fade-up" class="mission_item text-center">
                <div class="mission_icon"><i class="fa fa-book" aria-hidden="true"></i></div>
                <div class="mission_title">our story</div>
                <div class="mission_text">Founded as the first church in the community plan for Rancho Bernardo, our
                    church has served the surrounding Poway, Escondido, 4S, Penasquitos and north San Diego
                    neighborhoods for over 50 years. We are a Presbyterian church in the PCUSA family of churches.</div>
            </div>

            <div data-aos="fade-up" class="mission_item text-center">
                <div class="mission_icon"><i class="fas fa-compass" aria-hidden="true"></i></div>
                <div class="mission_title">our purpose</div>
                <div class="mission_text">Put simply, our church exists “For the glory of God alone.” The Latin, “Soli
                    Deo gloria,” claimed by the church leaders as a centering belief, referenced by Johann Sebastian
                    Bach on his musical pieces, is our starting point for our purpose and our beliefs.</div>
            </div>

            <div data-aos="fade-up" class="mission_item text-center">
                <div class="mission_icon"><i class="fas fa-sun" aria-hidden="true"></i></div>
                <div class="mission_title">our future</div>
                <div class="mission_text">Our leadership of Elders and Pastoral staff focus on 3 to 4 key areas of our
                    life together through which we might glorify God and faithfully steward our resources. Read details
                    about this year’s focus on the Elders section of our Ministries page.</div>
            </div>

            <div data-aos="fade-up" class="mission_item text-center">
                <div class="mission_icon"><i class="fa fa-user" aria-hidden="true"></i></div>
                <div class="mission_title">you</div>
                <div class="mission_text">Believers belong in a faith family - a place to join folks of all ages, grow
                    in Christ, and bless the world. We offer you a chance to learn more about us and your place in God’s
                    kingdom through a monthly dinner with the Senior Pastor. See the Events page for details.
                </div>
            </div>

        </div>
    </div>


    <!-- Sermons -->





    <div class="sermons pb-0">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div data-aos="fade-down" class="section_title_container text-center">
                        <div class="section_title">sermons today</div>
                        <div class="section_subtitle">Our lives in praising God</div>
                    </div>
                </div>
            </div>
            <div data-aos="fade-down" class="row sermons_row">

                {{#each vimeo.data}}



                <div class="col-lg-4 sermon_col">
                    <div class="card">
                        <a target="blank" href="{{this.link}}" target="blank"><img class="card-img-top" target="blank"
                                src="{{this.pictures.sizes.[0].link}}" alt=""></a>
                        <div class="card-body text-center">
                            <div class="card-title sermon_title"><a target="blank"
                                    href="{{this.link}}">{{this.name}}</a></div>
                            <div class="card-text sermon_info_container">
                                <div class="sermon_links">
                                    <ul>
                                        {{!-- <li><a href="#"><i class="fa fa-link" aria-hidden="true"></i></a></li> --}}
                                        {{!-- <li><a href="#"><i class="fa fa-file-pdf-o" aria-hidden="true"></i></a></li> --}}
                                        {{!-- <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li> --}}
                                        {{!-- <li><a href="#"><i class="fa fa-download" aria-hidden="true"></i></a></li> --}}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                {{/each}}


            </div>
        </div>
    </div>


    <!-- Donations -->

    <div class="donations">
        <div class="donations_background parallax-window" data-parallax="scroll" data-image-src="images/donation.jpg"
            data-speed="0.8"></div>
        <div class="container">
            <div class="row">
                <div data-aos="fade-right" class="col-lg-6">
                    <div class="donations_content">
                        <div class="donation_title">bless the children</div>
                        <div class="donation_info_container">
                            {{!-- <div class="donation_info">
                                <div class="donation_info_title">Donation Caller: </div>
                                <ul class="donation_info_list">
                                    <li><a href="#">John Connor</a></li>
                                </ul>
                            </div> --}}
                            {{!-- <div class="donation_info">
                                <div class="donation_info_title">Categories: </div>
                                <ul class="donation_info_list">
                                    <li><a href="#">Education, </a></li>
                                    <li><a href="#">Children</a></li>
                                </ul>
                            </div> --}}
                            {{!-- <div class="donation_info">
                                <div class="donation_info_title">On: </div>
                                <ul class="donation_info_list">
                                    <li><a href="#">Friday 16 MAR, 2018</a></li>
                                </ul>
                            </div> --}}
                        </div>
                        <div class="donation_text">
                            <p>
                                We’re raising funds for youth, music and theater ministries and our newly renovated
                                children’s wing. Each donation of $500 comes with a commemorative ornament and dedicated
                                art installation piece in honor of your loved one. Bless the children, leave a legacy in
                                the name of somebody you love. </p>
                        </div>
                    </div>
                </div>
                <div data-aos="fade-left" class="col-lg-6">
                    <div class="donation_details_container">
                        <div class="donation_details">
                            <div class="donation_funds">
                                <div class="donation_funds_title">Remaining: </div>
                                <div class="donations_funds_value">$7,000</div>
                            </div>
                            <div class="donation_progress_container">
                                <div class="donation_progress_outer">
                                    <div class="donation_progress" style="width: 65%;">
                                        <div class="donation_progress_value">65%</div>
                                    </div>
                                </div>
                                <div class="donation_info d-flex flex-row align-items-center justify-content-start">
                                    <div class="donation_current">Raised: <span>$13,000</span></div>
                                    <div class="donation_goal ml-auto">Goal: <span>$20,000</span></div>
                                </div>
                                <div class="button donation_button"><a href="/giving">donate now</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Quote -->

    <div class="quote">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="quote_container text-center">
                        <div data-aos="fade-down" class="quote_quote">“We believe encounters with Jesus transform
                            lives.”</div>
                        <div class="quote_icon"><img src="images/quote.png" alt=""></div>
                        {{!-- <div class="quote_source">Ignatius of Antioch</div> --}}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Gallery -->

    <div class="gallery d-flex flex-row flex-wrap align-items-start justify-content-start" style="z-index: 1">
        <div class="gallery_item">
            <a class="colorbox" href="images/gallery_1.jpg">
                <img src="images/gallery_1.jpg" alt="https://unsplash.com/@mantashesthaven">
            </a>
        </div>
        <div class="gallery_item">
            <a class="colorbox" href="images/gallery_2.jpg">
                <img src="images/gallery_2.jpg" alt="https://unsplash.com/@mantashesthaven">
            </a>
        </div>
        <div class="gallery_item">
            <a class="colorbox" href="images/gallery_3.jpg">
                <img src="images/gallery_3.jpg" alt="https://unsplash.com/@mantashesthaven">
            </a>
        </div>
        <div class="gallery_item">
            <a class="colorbox" href="images/gallery_4.jpg">
                <img src="images/gallery_4.jpg" alt="https://unsplash.com/@mantashesthaven">
            </a>
        </div>
        <div class="gallery_item">
            <a class="colorbox" href="images/gallery_5.jpg">
                <img src="images/gallery_5.jpg" alt="https://unsplash.com/@mantashesthaven">
            </a>
        </div>
        <div class="gallery_item">
            <a class="colorbox" href="images/gallery_6.jpg">
                <img src="images/gallery_6.jpg" alt="https://unsplash.com/@mantashesthaven">
            </a>
        </div>
        <div class="gallery_item">
            <a class="colorbox" href="images/gallery_7.jpg">
                <img src="images/gallery_7.jpg" alt="https://unsplash.com/@mantashesthaven">
            </a>
        </div>
        <div class="gallery_item">
            <a class="colorbox" href="images/gallery_8.jpg">
                <img src="images/gallery_8.jpg" alt="https://unsplash.com/@mantashesthaven">
            </a>
        </div>
        <div class="gallery_item">
            <a class="colorbox" href="images/gallery_9.jpg">
                <img src="images/gallery_9.jpg" alt="https://unsplash.com/@mantashesthaven">
            </a>
        </div>
        <div class="gallery_item">
            <a class="colorbox" href="images/gallery_10.jpg">
                <img src="images/gallery_10.jpg" alt="https://unsplash.com/@mantashesthaven">
            </a>
        </div>
    </div>

    <!-- Latest News -->

    <div class="latest_news">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="section_title_container text-center" data-aos="fade-down">
                        <div class="section_title">latest news</div>
                        <div class="section_subtitle">Be part of a community of people experiencing God together.</div>
                    </div>
                </div>
            </div>
            <div class="row news_row" id="news-container">

                {{#each blogpost}}

                <!-- News Post -->
                <div class="col-xl-4 col-lg-6 news_post_col" data-aos="fade-down">
                    <div class="news_post">
                        <div class="news_image"><a href="blog_single:{{this.sys.id}}"><img
                                    src="{{fields.image.fields.file.url}}" alt=""></a></div>
                        <div class="news_post_content">
                            <div class="news_post_title">
                                <a href="blog_single:{{this.sys.id}}">{{fields.title}}</a>
                            </div>
                            <div class="news_post_meta">
                                <ul>
                                    <li><i class="fa fa-user" aria-hidden="true"></i><a
                                            href="#">{{#each fields.author}}{{this}}{{/each}}</a></li>
                                    <li><i class="fa fa-calendar-o" aria-hidden="true"></i><a
                                            href="#">{{fields.formattedDate}}</a>
                                    </li>
                                    {{!-- <li><i class="fa fa-comment" aria-hidden="true"></i><a href="#">15</a></li> --}}
                                </ul>
                            </div>
                            <div class="news_post_text">
                                <p>{{this.fields.excerpt}}...</p>
                            </div>
                        </div>
                    </div>
                </div>

                {{/each}}

                {{!-- <!-- News Post -->
                <div class="col-xl-4 col-lg-6 news_post_col">
                    <div class="news_post">
                        <div class="news_image"><img src="images/news_2.jpg" alt=""></div>
                        <div class="news_post_content">
                            <div class="news_post_title">
                                <a href="blog_single.html">Moderator joins Pope Francis in call to prayer for peace</a>
                            </div>
                            <div class="news_post_meta">
                                <ul>
                                    <li><i class="fa fa-user" aria-hidden="true"></i><a href="#">Ashley Young</a></li>
                                    <li><i class="fa fa-calendar-o" aria-hidden="true"></i><a href="#">08 MAR, 2018</a>
                                    </li>
                                    <li><i class="fa fa-comment" aria-hidden="true"></i><a href="#">12</a></li>
                                </ul>
                            </div>
                            <div class="news_post_text">
                                <p>Integer luctus diam acto scerisque consectetur. Vimus euismod nec lacus sit amet.
                                    Aenean interdus mid vitae blandit porta. Quisque dignissim commodo congue
                                    efficitur...</p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- News Post -->
                <div class="col-xl-4 col-lg-6 news_post_col">
                    <div class="news_post">
                        <div class="news_image"><img src="images/news_3.jpg" alt=""></div>
                        <div class="news_post_content">
                            <div class="news_post_title">
                                <a href="blog_single.html">Church plays a major role in tackling loneliness</a>
                            </div>
                            <div class="news_post_meta">
                                <ul>
                                    <li><i class="fa fa-user" aria-hidden="true"></i><a href="#">Josh Brighton</a></li>
                                    <li><i class="fa fa-calendar-o" aria-hidden="true"></i><a href="#">07 MAR, 2018</a>
                                    </li>
                                    <li><i class="fa fa-comment" aria-hidden="true"></i><a href="#">10</a></li>
                                </ul>
                            </div>
                            <div class="news_post_text">
                                <p>Integer luctus diam acto scerisque consectetur. Vimus euismod nec lacus sit amet.
                                    Aenean interdus mid vitae blandit porta. Quisque dignissim commodo congue
                                    efficitur...</p>
                            </div>
                        </div>
                    </div>
                </div> --}}

            </div>
        </div>
    </div>
</div>




<script src="/js/jquery-3.2.1.min.js"></script>
<script src="plugins/OwlCarousel2-2.2.1/owl.carousel.js"></script>
<script src="js/custom.js"></script>