<!-- Home -->

<div class="home">
	<div class="home_background" style="background-image:url(images/events.jpg)"></div>
	<div class="home_content">
		<div class="container">
			<div class="row">
				<div class="col d-flex flex-row align-items-center justify-content-start">
					<div class="home_title">Ministries</div>
					<div class="breadcrumbs ml-auto">
						<ul>
							<li><a href="/home">Home</a></li>
							<li><a href="/ministries">Ministries</a></li>
							<li>{{request}}</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Ministry Featured Info -->


{{!-- {{ log this }} --}}


<div class="background_alternater">




		{{!-- {{log this}} --}}


{{#if (isHighOrMiddleSchool title)}}


					{{> ministry/events }}
					{{> ministry/info }}
					{{> ministry/news }}

{{else}}




					{{> ministry/info }}
					{{> ministry/events }}
					{{> ministry/news }}

{{/if}}






		





		{{#if youTubeVideos}}
		<div class="container">
		<div class="row pt-5 pb-2">
			<div class="col">
				<div class="section_title_container text-center">
					<div class="section_title">Latest Videos</div>
					<div class="section_subtitle">Our latest online materials</div>
				</div>
			</div>
		</div>

<div
			class="events_items d-flex flex-lg-row flex-column align-items-lg-start align-items-center justify-content-lg-between justify-content-center flex-wrap px-0">
		{{#each youTubeVideos.items}}

		<div class="events_item">
				<div class="events_item_image"><a href="http://youtube.com/watch?v={{contentDetails.videoId}}" target="_blank">
			 {{#if (isDefined snippet.thumbnails.maxres.url)}}<img src="{{snippet.thumbnails.maxres.url}}" alt="">{{else}}<img src="{{snippet.thumbnails.medium.url}}" alt="">{{/if}}
				</a></div>
				<div class="events_item_content d-flex flex-row align-items-start justfy-content-start">
					{{!-- <div class="event_date">
						<div class="d-flex flex-column align-items-center justify-content-center">
							<div class="event_day">{{this.fields.shortDay}}</div>
							<div class="event_month">{{this.fields.shortMonth}}</div>
						</div>
					</div> --}}
					<div class="event_content pl-0">
						<div class="event_title"><a href="http://youtube.com/watch?v={{contentDetails.videoId}}" target="_blank">{{snippet.title}}</a></div>
	<div class="news_post_text">
								<p>{{snippet.description}}</p>
							</div>
					</div>
				</div>
			</div>

		{{/each}}

		</div>
		</div>

		{{/if}}





	</div>
	</div>













	<script src="/js/jquery-3.2.1.min.js"></script>
	<script src="js/blog.js"></script>