<!-- Home -->

<div class="home">
	<div class="home_background" style="background-image:url(images/events.jpg)"></div>
	<div class="home_content">
		<div class="container">
			<div class="row">
				<div class="col d-flex flex-row align-items-center justify-content-start">
					<div class="home_title">Ministries</div>
					<div class="breadcrumbs ml-auto">
						<ul>
							<li><a href="/home">Home</a></li>
							<li><a href="/ministries">Ministries</a></li>
							<li>{{request}}</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Ministry Featured Info -->




<div class="news">
	<div class="container">
		<div class="row">
			<div class="col">
				<div class="section_title_container text-center">
					<div class="section_title mb-4">{{request}} at RB Community</div>
					{{!-- <div class="section_subtitle">Be part of a community of people experiencing God together.</div> --}}
				</div>
			</div>
		</div>



		<div class="row pt-2 pb-3">
			<div class="col">

				{{{ header.fields.renderedHtml}}}
			</div>
		</div>




		{{#if blogpost.multipleEntries}}


		<div class="row pt-5 pb-2">
			<div class="col">
				<div class="section_title_container text-center">
					<div class="section_title">{{this.request}} news</div>
					<div class="section_subtitle">Be part of a community of people experiencing God together.</div>
				</div>
			</div>
		</div>


		{{/if}}




		<div class="row news_row">

			{{#each blogpost}}
			{{#unless fields.featureOnMinistryPage}}

			<!-- News Post -->
			<div class="col-xl-4 col-lg-6 news_post_col">
				<div class="news_post">
					<div class="news_image"><a href="./blog-{{changeSpacesToDashes this.fields.title}}"><img
								src="{{this.fields.image.fields.file.url}}" alt=""></a></div>
					<div class="news_post_content">
						<div class="news_post_title">
							<a href="./blog-{{changeSpacesToDashes this.fields.title}}">{{this.fields.title}}</a>
						</div>
						<div class="news_post_meta">
							<ul>
								<li><i class="fa fa-user" aria-hidden="true"></i><a
										href="#">{{#each fields.author}}{{this}}{{/each}}</a></li>
								<li><i class="fa fa-calendar-o" aria-hidden="true"></i><a
										href="#">{{this.fields.formattedDate}}</a></li>
								{{!-- <li><i class="fa fa-comment" aria-hidden="true"></i><a href="#">15</a></li> --}}
							</ul>
						</div>
						<div class="news_post_text">
							{{#if fields.excerpt}}
							<p>{{this.fields.excerpt}}...</p>
							{{/if}}
						</div>
					</div>
				</div>
			</div>

			{{/unless}}
			{{/each}}
		</div>

		{{!-- 
				<!-- News Post -->
				<div class="col-xl-4 col-lg-6 news_post_col">
					<div class="news_post">
						<div class="news_image"><img src="images/news_2.jpg" alt=""></div>
						<div class="news_post_content">
							<div class="news_post_title">
								<a href="blog_single.html">Moderator joins Pope Francis in call to prayer for peace</a>
							</div>
							<div class="news_post_meta">
								<ul>
									<li><i class="fa fa-user" aria-hidden="true"></i><a href="#">Ashley Young</a></li>
									<li><i class="fa fa-calendar-o" aria-hidden="true"></i><a href="#">08 MAR, 2018</a></li>
									<li><i class="fa fa-comment" aria-hidden="true"></i><a href="#">12</a></li>
								</ul>
							</div>
							<div class="news_post_text">
								<p>Integer luctus diam acto scerisque consectetur. Vimus euismod nec lacus sit amet. Aenean interdus mid vitae blandit  porta. Quisque dignissim commodo congue efficitur...</p>
							</div>
						</div>
					</div>
				</div>

				<!-- News Post -->
				<div class="col-xl-4 col-lg-6 news_post_col">
					<div class="news_post">
						<div class="news_image"><img src="images/news_3.jpg" alt=""></div>
						<div class="news_post_content">
							<div class="news_post_title">
								<a href="blog_single.html">Church plays a major role in tackling loneliness</a>
							</div>
							<div class="news_post_meta">
								<ul>
									<li><i class="fa fa-user" aria-hidden="true"></i><a href="#">Josh Brighton</a></li>
									<li><i class="fa fa-calendar-o" aria-hidden="true"></i><a href="#">08 MAR, 2018</a></li>
									<li><i class="fa fa-comment" aria-hidden="true"></i><a href="#">10</a></li>
								</ul>
							</div>
							<div class="news_post_text">
								<p>Integer luctus diam acto scerisque consectetur. Vimus euismod nec lacus sit amet. Aenean interdus mid vitae blandit  porta. Quisque dignissim commodo congue efficitur...</p>
							</div>
						</div>
					</div>
				</div>

				<!-- News Post -->
				<div class="col-xl-4 col-lg-6 news_post_col">
					<div class="news_post">
						<div class="news_image"><img src="images/news_4.jpg" alt=""></div>
						<div class="news_post_content">
							<div class="news_post_title">
								<a href="blog_single.html">Family History Enthusiasts to Gather in Utah for RootsTech</a>
							</div>
							<div class="news_post_meta">
								<ul>
									<li><i class="fa fa-user" aria-hidden="true"></i><a href="#">Josh Brighton</a></li>
									<li><i class="fa fa-calendar-o" aria-hidden="true"></i><a href="#">07 MAR, 2018</a></li>
									<li><i class="fa fa-comment" aria-hidden="true"></i><a href="#">10</a></li>
								</ul>
							</div>
							<div class="news_post_text">
								<p>Integer luctus diam acto scerisque consectetur. Vimus euismod nec lacus sit amet. Aenean interdus mid vitae blandit  porta. Quisque dignissim commodo congue efficitur...</p>
							</div>
						</div>
					</div>
				</div>

				<!-- News Post -->
				<div class="col-xl-4 col-lg-6 news_post_col">
					<div class="news_post">
						<div class="news_image"><img src="images/news_5.jpg" alt=""></div>
						<div class="news_post_content">
							<div class="news_post_title">
								<a href="blog_single.html">Faith and Rebuilding Will Make Puerto Ricans Stronger</a>
							</div>
							<div class="news_post_meta">
								<ul>
									<li><i class="fa fa-user" aria-hidden="true"></i><a href="#">Josh Brighton</a></li>
									<li><i class="fa fa-calendar-o" aria-hidden="true"></i><a href="#">07 MAR, 2018</a></li>
									<li><i class="fa fa-comment" aria-hidden="true"></i><a href="#">10</a></li>
								</ul>
							</div>
							<div class="news_post_text">
								<p>Integer luctus diam acto scerisque consectetur. Vimus euismod nec lacus sit amet. Aenean interdus mid vitae blandit  porta. Quisque dignissim commodo congue efficitur...</p>
							</div>
						</div>
					</div>
				</div>

				<!-- News Post -->
				<div class="col-xl-4 col-lg-6 news_post_col">
					<div class="news_post">
						<div class="news_image"><img src="images/news_6.jpg" alt=""></div>
						<div class="news_post_content">
							<div class="news_post_title">
								<a href="blog_single.html">Historian Shares Legacy of Black Mormon Pioneers</a>
							</div>
							<div class="news_post_meta">
								<ul>
									<li><i class="fa fa-user" aria-hidden="true"></i><a href="#">Josh Brighton</a></li>
									<li><i class="fa fa-calendar-o" aria-hidden="true"></i><a href="#">07 MAR, 2018</a></li>
									<li><i class="fa fa-comment" aria-hidden="true"></i><a href="#">10</a></li>
								</ul>
							</div>
							<div class="news_post_text">
								<p>Integer luctus diam acto scerisque consectetur. Vimus euismod nec lacus sit amet. Aenean interdus mid vitae blandit  porta. Quisque dignissim commodo congue efficitur...</p>
							</div>
						</div>
					</div>
				</div>

				<!-- News Post -->
				<div class="col-xl-4 col-lg-6 news_post_col">
					<div class="news_post">
						<div class="news_image"><img src="images/news_7.jpg" alt=""></div>
						<div class="news_post_content">
							<div class="news_post_title">
								<a href="blog_single.html">2018 Schedule for Church Pageants Now Available on LDS</a>
							</div>
							<div class="news_post_meta">
								<ul>
									<li><i class="fa fa-user" aria-hidden="true"></i><a href="#">Josh Brighton</a></li>
									<li><i class="fa fa-calendar-o" aria-hidden="true"></i><a href="#">07 MAR, 2018</a></li>
									<li><i class="fa fa-comment" aria-hidden="true"></i><a href="#">10</a></li>
								</ul>
							</div>
							<div class="news_post_text">
								<p>Integer luctus diam acto scerisque consectetur. Vimus euismod nec lacus sit amet. Aenean interdus mid vitae blandit  porta. Quisque dignissim commodo congue efficitur...</p>
							</div>
						</div>
					</div>
				</div>

				<!-- News Post -->
				<div class="col-xl-4 col-lg-6 news_post_col">
					<div class="news_post">
						<div class="news_image"><img src="images/news_8.jpg" alt=""></div>
						<div class="news_post_content">
							<div class="news_post_title">
								<a href="blog_single.html">Former Church Presidents, Apostles Reflect on Calls</a>
							</div>
							<div class="news_post_meta">
								<ul>
									<li><i class="fa fa-user" aria-hidden="true"></i><a href="#">Josh Brighton</a></li>
									<li><i class="fa fa-calendar-o" aria-hidden="true"></i><a href="#">06 MAR, 2018</a></li>
									<li><i class="fa fa-comment" aria-hidden="true"></i><a href="#">10</a></li>
								</ul>
							</div>
							<div class="news_post_text">
								<p>Integer luctus diam acto scerisque consectetur. Vimus euismod nec lacus sit amet. Aenean interdus mid vitae blandit  porta. Quisque dignissim commodo congue efficitur...</p>
							</div>
						</div>
					</div>
				</div>

				<!-- News Post -->
				<div class="col-xl-4 col-lg-6 news_post_col">
					<div class="news_post">
						<div class="news_image"><img src="images/news_9.jpg" alt=""></div>
						<div class="news_post_content">
							<div class="news_post_title">
								<a href="blog_single.html">All Saints: The Surprising True Story of How Refugees from Burma</a>
							</div>
							<div class="news_post_meta">
								<ul>
									<li><i class="fa fa-user" aria-hidden="true"></i><a href="#">Josh Brighton</a></li>
									<li><i class="fa fa-calendar-o" aria-hidden="true"></i><a href="#">06 MAR, 2018</a></li>
									<li><i class="fa fa-comment" aria-hidden="true"></i><a href="#">10</a></li>
								</ul>
							</div>
							<div class="news_post_text">
								<p>Integer luctus diam acto scerisque consectetur. Vimus euismod nec lacus sit amet. Aenean interdus mid vitae blandit  porta. Quisque dignissim commodo congue efficitur...</p>
							</div>
						</div>
					</div>
				</div>

			</div> --}}

		<!-- Page Nav -->

		{{!-- <div class="row">
			<div class="col">
				<div class="page_nav">
					<ul>
						<li class="active"><a href="#">1</a></li>
						<li><a href="#">2</a></li>
						<li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
					</ul>
				</div>
			</div>
		</div> --}}

	</div>


	{{#if events}}

	<!-- Events -->

	<div class="events">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="section_title_container text-center">
						<div class="section_title">list of {{request}} events</div>
						<div class="section_subtitle">Events held and scheduled by us</div>
					</div>
				</div>
			</div>
		</div>
		<div
			class="events_items d-flex flex-lg-row flex-column align-items-lg-start align-items-center justify-content-lg-between justify-content-center flex-wrap">

			{{/if}}

			{{#each events}}


			<!-- Event -->

			<div class="events_item">
				<div class="events_item_image"><a href="/event:{{this.sys.id}}"><img
							src="{{this.fields.eventImage.fields.file.url}}" alt=""></a></div>
				<div class="events_item_content d-flex flex-row align-items-start justfy-content-start">
					<div class="event_date">
						<div class="d-flex flex-column align-items-center justify-content-center">
							<div class="event_day">{{this.fields.shortDay}}</div>
							<div class="event_month">{{this.fields.shortMonth}}</div>
						</div>
					</div>
					<div class="event_content">
						<div class="event_title"><a href="/event:{{this.sys.id}}">{{this.fields.title}}</a></div>
						<ul class="event_row">
							<li>
								<div class="event_icon"><img src="images/calendar.png" alt=""></div>
								<span>{{this.fields.time}}</span>
							</li>
							<li>
								<div class="event_icon"><img src="images/location.png" alt=""></div>
								<span>{{this.fields.location}}</span>
							</li>
						</ul>
					</div>
				</div>
			</div>


			{{/each}}

		</div>





	</div>

	<script src="/js/jquery-3.2.1.min.js"></script>
	<script src="js/blog.js"></script>