<link rel="stylesheet" type="text/css" href="styles/events.css" />
<link rel="stylesheet" type="text/css" href="styles/events_responsive.css" />
<link rel="stylesheet" type="text/css" href="styles/blog.css">
<link rel="stylesheet" type="text/css" href="styles/blog_responsive.css">
<link rel="stylesheet" type="text/css" href="styles/search.css">

<!-- Home -->

<div class="home">
  <div
    class="home_background"
    style="background-image:url(images/events.jpg)"
  ></div>
  <div class="home_content">
    <div class="container">
      <div class="row">
        <div
          class="col d-flex flex-row align-items-center justify-content-start"
        >
          <div class="home_title">Search</div>
          <div class="breadcrumbs ml-auto">
            <ul>
              <li><a href="/home">Home</a></li>
              <li>Search</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="about events_items" >

        <h2 class="mb-4">Search: {{term}}</h2>


        <div id="results" class="row justify-content-around results">

        {{#each results.0.items}}

          {{! IF WE HAVE AN EVENT }}
          {{#if this.fields.eventImage}}

            {{! IS ENDDATE CURRENT OR FUTURE? }}
            {{#if (isEventCurrentOrFuture this.fields.endDate)}}

              {{> events/event-block this }}

            {{/if}}

          {{/if}}

          {{! IF WE HAVE A NEWS ARTICLE }}
          {{#if (isBlog this.sys.contentType.sys.id)}}

          {{!-- if it's a header for a ministry page --}}
            {{#if this.fields.featureOnMinistryPage}}
            
            <div class="events_item">
            <a href="/ministry:{{this.fields.ministry.[0]}}">
              <div style="background-color: #327091;
              color: #eee;
              font-size: 2rem;
              text-align:center;
              padding: 3rem 1rem;
              ">{{this.fields.ministry.[0]}}</div>
              <div class="py-3" style="color: #7c7c7c !important">{{this.fields.excerpt}}...</div>
              </a>
              </div>

{{!-- OTHERWISE RENDER BLOG SUMMARY CARD --}}
            {{else}}

            {{! IS expirationDate CURRENT OR FUTURE? }}
            {{#if (isBlogCurrent this.fields.expirationDate)}}

            {{> blog/blog-block this }}

            {{/if}}


            {{/if}}

          {{/if}}

        {{/each}}

        </div>

</div>

<script src="/js/jquery-3.2.1.min.js"></script>
<script src="js/about.js"></script>

<script>

if (document.querySelector("#results").innerHTML.trim() === "") {
  document.querySelector("#results").innerHTML = `<h3 style="text-align: center">No results found.  Bummer. <br /> You might want to search for something else.</h3>`
}
  



</script>