<!-- Home -->

<div class="home">
	<div class="home_background" style="background-image:url(images/events.jpg)"></div>
	<div class="home_content">
		<div class="container">
			<div class="row">
				<div class="col d-flex flex-row align-items-center justify-content-start">
					<div class="home_title">Sermons</div>
					<div class="breadcrumbs ml-auto">
						<ul>
							<li><a href="index.html">Home</a></li>
							<li>Sermons</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>




<!-- Latest Sermon -->

{{#each vimeo}}

{{#if @first}}



<div class="latest pb-0">
	<div class="container">
		<div class="row">
			<div class="col">
				<div data-aos="fade-down" class="section_title_container text-center">
					<div class="section_title">latest sermon</div>
					<div class="section_subtitle">A discourse for the purpose of religious</div>
				</div>
			</div>
		</div>
		<div data-aos="fade-up">
			<div class="row latest_row">
				<div class="col-lg-10 offset-lg-1">
					<div class="latest_play d-flex flex-column align-items-center justify-content-center">
						<div class="latest_play_background"
							style="background-image:url({{this.pictures.sizes.[0].link}}); background-position:center top;">
						</div>
						<a class="vimeo latest_play_button" href="https://player.vimeo.com/video/{{this.id}}?title=0"
							title="{{this.name}}">
							<div
								class="latest_play_button_outer d-flex flex-column align-items-center justify-content-center trans_200">
								<div
									class="latest_play_button_inner d-flex flex-column align-items-center justify-content-center trans_200">
									<img src="images/play.png" alt="">
								</div>
							</div>
						</a>
					</div>
				</div>
			</div>
			<div class="row latest_content_row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="latest_content_title">{{this.shortTitle}}</div>
					<div class="latest_sermon_info_container">
						{{!-- <div class="sermon_info">
						<div class="sermon_info_title">Pastor: </div>
						<ul class="sermon_info_list">
							<li><a href="#">Josh Brighton</a>,</li>
						</ul>
					</div> --}}
						{{!-- <div class="sermon_info"> --}}
						{{!-- <div class="sermon_info_title">Categories: </div> --}}
						{{!-- <ul class="sermon_info_list"> --}}
						{{!-- <li><a href="#">God, </a></li> --}}
						{{!-- <li><a href="#">Prayer</a></li> --}}
						{{!-- </ul> --}}
						{{!-- </div> --}}
						<div class="sermon_info">
							<div class="sermon_info_title">On: </div>
							<ul class="sermon_info_list">
								<li><a href="#" style="text-transform:uppercase">{{featureDate}}</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md-8 offset-md-2 text-center">
					{{!-- <div class="latest_text">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean at convallis justo. Suspendisse
						ut nisl diam. Sed non vehicula sem. Etiam efficitur eros a leo mollis, interdum sodales erat
						ultricies. Pellentesque in felis sem. Phasellus nunc tellus, suscipit rutrum risus quis, aucibus
						vel ipsumeu. </p>
				</div> --}}
					{{!-- <div class="sermon_links latest_sermon_links"> --}}
					{{!-- <ul> --}}
					{{!-- <li><a href="#"><i class="fa fa-link" aria-hidden="true"></i></a></li> --}}
					{{!-- <li><a href="#"><i class="fa fa-file-pdf-o" aria-hidden="true"></i></a></li> --}}
					{{!-- <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li> --}}
					{{!-- <li><a href="#"><i class="fa fa-download" aria-hidden="true"></i></a></li> --}}
					{{!-- </ul> --}}
					{{!-- </div> --}}
				</div>
			</div>
		</div>
	</div>
</div>

{{/if}}

{{/each}}

<!-- Sermons -->

<div class="sermons">
	<div class="container">
		<div class="row">
			<div class="col">
				<div data-aos="fade-down" class="section_title_container text-center">
					<div class="section_title">list of sermons</div>
					<div class="section_subtitle">Our lives in praising God</div>
				</div>
			</div>
		</div>
		<div data-aos="fade-down" class="row sermons_row">

			<!-- Sermon -->


			{{#each vimeo}}
			{{#if @first}}
			{{else}}



			<div class="col-lg-4 sermon_col">
				<div class="card">
					<div class="event_date d-flex flex-column align-items-center justify-content-center">
						<div class="event_day">{{this.shortDay}}</div>
						<div class="event_month">{{this.shortMonth}}</div>
					</div>
					<a href="{{this.link}}"><img class="card-img-top" src="{{this.pictures.sizes.[0].link}}" alt=""></a>
					<div class="card-body text-center">
						<div class="card-title sermon_title"><a href="{{this.link}}">{{this.description}}: {{this.shortTitle}}</a></div>
						{{!-- <div class="card-text sermon_info_container"> --}}
						{{!-- <div class="sermon_links"> --}}
						{{!-- <ul> --}}
						{{!-- <li><a href="#"><i class="fa fa-link" aria-hidden="true"></i></a></li> --}}
						{{!-- <li><a href="#"><i class="fa fa-file-pdf-o" aria-hidden="true"></i></a></li> --}}
						{{!-- <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li> --}}
						{{!-- <li><a href="#"><i class="fa fa-download" aria-hidden="true"></i></a></li> --}}
						{{!-- </ul> --}}
						{{!-- </div> --}}
						{{!-- </div> --}}
					</div>
				</div>
			</div>

			{{/if}}
			{{/each}}

			{{!-- <div class="col-lg-4 sermon_col">
				<div class="card">
					<div class="event_date d-flex flex-column align-items-center justify-content-center">
						<div class="event_day">08</div>
						<div class="event_month">mar</div>
					</div>
					<img class="card-img-top" src="images/sermon_1.jpg" alt="">
					<div class="card-body text-center">
						<div class="card-title sermon_title"><a href="sermon.html">Sermons on Prayer: Running Well,
								FinIshing Strong</a></div>
						<div class="card-text sermon_info_container">
							<div class="sermon_info">
								<div class="sermon_info_title">Pastor: </div>
								<ul class="sermon_info_list">
									<li><a href="#">Josh Brighton</a></li>
								</ul>
							</div>
							<div class="sermon_info">
								<div class="sermon_info_title">Categories: </div>
								<ul class="sermon_info_list">
									<li><a href="#">God, </a></li>
									<li><a href="#">Prayer</a></li>
								</ul>
							</div>
							<div class="sermon_links">
								<ul>
									<li><a href="#"><i class="fa fa-link" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-file-pdf-o" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-download" aria-hidden="true"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- Sermon -->
			<div class="col-lg-4 sermon_col">
				<div class="card">
					<div class="event_date d-flex flex-column align-items-center justify-content-center">
						<div class="event_day">08</div>
						<div class="event_month">mar</div>
					</div>
					<img class="card-img-top" src="images/sermon_2.jpg" alt="">
					<div class="card-body text-center">
						<div class="card-title sermon_title"><a href="sermon.html">Sermons on Faith: A Life Worth
								Living, A new purpose</a></div>
						<div class="card-text sermon_info_container">
							<div class="sermon_info">
								<div class="sermon_info_title">Pastor: </div>
								<ul class="sermon_info_list">
									<li><a href="#">Julia Amber</a></li>
								</ul>
							</div>
							<div class="sermon_info">
								<div class="sermon_info_title">Categories: </div>
								<ul class="sermon_info_list">
									<li><a href="#">God, </a></li>
									<li><a href="#">Faith</a></li>
								</ul>
							</div>
							<div class="sermon_links">
								<ul>
									<li><a href="#"><i class="fa fa-link" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-file-pdf-o" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-download" aria-hidden="true"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- Sermon -->
			<div class="col-lg-4 sermon_col">
				<div class="card">
					<div class="event_date d-flex flex-column align-items-center justify-content-center">
						<div class="event_day">07</div>
						<div class="event_month">mar</div>
					</div>
					<img class="card-img-top" src="images/sermon_3.jpg" alt="">
					<div class="card-body text-center">
						<div class="card-title sermon_title"><a href="sermon.html">Sermons for Communion Services: Come
								to the Table</a></div>
						<div class="card-text sermon_info_container">
							<div class="sermon_info">
								<div class="sermon_info_title">Pastor: </div>
								<ul class="sermon_info_list">
									<li><a href="#">Ashley Young</a></li>
								</ul>
							</div>
							<div class="sermon_info">
								<div class="sermon_info_title">Categories: </div>
								<ul class="sermon_info_list">
									<li><a href="#">God, </a></li>
									<li><a href="#">Communion</a></li>
								</ul>
							</div>
							<div class="sermon_links">
								<ul>
									<li><a href="#"><i class="fa fa-link" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-file-pdf-o" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-download" aria-hidden="true"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- Sermon -->
			<div class="col-lg-4 sermon_col">
				<div class="card">
					<div class="event_date d-flex flex-column align-items-center justify-content-center">
						<div class="event_day">07</div>
						<div class="event_month">mar</div>
					</div>
					<img class="card-img-top" src="images/sermon_4.jpg" alt="">
					<div class="card-body text-center">
						<div class="card-title sermon_title"><a href="sermon.html">Receive The Holy Spirit And blissful
								By Jesus GOD</a></div>
						<div class="card-text sermon_info_container">
							<div class="sermon_info">
								<div class="sermon_info_title">Pastor: </div>
								<ul class="sermon_info_list">
									<li><a href="#">Ashley Young</a></li>
								</ul>
							</div>
							<div class="sermon_info">
								<div class="sermon_info_title">Categories: </div>
								<ul class="sermon_info_list">
									<li><a href="#">God, </a></li>
									<li><a href="#">Communion</a></li>
								</ul>
							</div>
							<div class="sermon_links">
								<ul>
									<li><a href="#"><i class="fa fa-link" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-file-pdf-o" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-download" aria-hidden="true"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- Sermon -->
			<div class="col-lg-4 sermon_col">
				<div class="card">
					<div class="event_date d-flex flex-column align-items-center justify-content-center">
						<div class="event_day">06</div>
						<div class="event_month">mar</div>
					</div>
					<img class="card-img-top" src="images/sermon_5.jpg" alt="">
					<div class="card-body text-center">
						<div class="card-title sermon_title"><a href="sermon.html">The Uniqueness of Jesus in a
								Pluralistic World.</a></div>
						<div class="card-text sermon_info_container">
							<div class="sermon_info">
								<div class="sermon_info_title">Pastor: </div>
								<ul class="sermon_info_list">
									<li><a href="#">Ashley Young</a></li>
								</ul>
							</div>
							<div class="sermon_info">
								<div class="sermon_info_title">Categories: </div>
								<ul class="sermon_info_list">
									<li><a href="#">God, </a></li>
									<li><a href="#">Communion</a></li>
								</ul>
							</div>
							<div class="sermon_links">
								<ul>
									<li><a href="#"><i class="fa fa-link" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-file-pdf-o" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-download" aria-hidden="true"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- Sermon -->
			<div class="col-lg-4 sermon_col">
				<div class="card">
					<div class="event_date d-flex flex-column align-items-center justify-content-center">
						<div class="event_day">06</div>
						<div class="event_month">mar</div>
					</div>
					<img class="card-img-top" src="images/sermon_6.jpg" alt="">
					<div class="card-body text-center">
						<div class="card-title sermon_title"><a href="sermon.html">What's Your Problem with the
								Resurrection?</a></div>
						<div class="card-text sermon_info_container">
							<div class="sermon_info">
								<div class="sermon_info_title">Pastor: </div>
								<ul class="sermon_info_list">
									<li><a href="#">Ashley Young</a></li>
								</ul>
							</div>
							<div class="sermon_info">
								<div class="sermon_info_title">Categories: </div>
								<ul class="sermon_info_list">
									<li><a href="#">God, </a></li>
									<li><a href="#">Communion</a></li>
								</ul>
							</div>
							<div class="sermon_links">
								<ul>
									<li><a href="#"><i class="fa fa-link" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-file-pdf-o" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-download" aria-hidden="true"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div> --}}

		</div>

		<!-- Page Nav -->

		{{!-- <div class="row">
			<div class="col">
				<div class="page_nav">
					<ul>
						<li class="active"><a href="#">1</a></li>
						<li><a href="#">2</a></li>
						<li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
					</ul>
				</div>
			</div>
		</div> --}}

	</div>
</div>

<!-- Quote -->

<div class="quote">
	<div class="container">
		<div class="row">
			<div class="col">
				<div class="quote_container text-center">
					<div data-aos="fade-down" class="quote_quote">“Our guiding vision comes from the words of Jesus. ‘From the believers will
						flow living waters.’ - John 7:38”</div>
					<div class="quote_icon"><img src="images/quote_2.png" alt=""></div>
					{{!-- <div class="quote_source">Ignatius of Antioch</div> --}}
				</div>
			</div>
		</div>
	</div>
</div>

<script src="/js/jquery-3.2.1.min.js"></script>
<script src="js/sermons.js"></script>