<div class="home">
  <div
    class="home_background"
    style="background-image:url(images/events.jpg)"
  ></div>
  <div class="home_content">
    <div class="container">
      <div class="row">
        <div
          class="col d-flex flex-row align-items-center justify-content-start"
        >
          <div class="home_title">Ministries</div>
          <div class="breadcrumbs ml-auto">
            <ul>
              <li><a href="index.html">Home</a></li>
              <li>Ministries</li>
              <li>Volunteer Opportunities</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="VolunteerSingle">
  {{! <div class="bg_selection"> }}
  <div class="container">
    <div class="row">
      <div class="col">

        <img
          src="{{this.opening.Image.url}}"
          alt=""
          srcset=""
          class="SingleImage"
        />

        <div class="section_title_container text-center">
          <div class="section_title mb-4">
            {{this.opening.position}}
          </div>
        </div>
      </div>
    </div>
    {{! </div> }}
  </div>

  <div class="container">

    <div class="row">
      <div class="col">
        <div class="topInfo">

          <div><span class="label">Sponsoring ministry:
            </span>{{this.opening.sponsoringMinistry}}</div>
          <div><span class="label">Primary contact:
            </span>{{this.opening.primaryContact}}</div>
          <div><span class="label">Time committment:
            </span>{{this.opening.frequency}}</div>
        </div>

        {{log this}}

        <div class="description">
          {{{this.opening.description}}}
        </div>

      </div>
    </div>
  </div>

</div>

<script src="/js/jquery-3.2.1.min.js"></script>
<script src="js/sermons.js"></script>