<div class="home">
  <div
    class="home_background"
    style="background-image:url(images/events.jpg)"
  ></div>
  <div class="home_content">
    <div class="container">
      <div class="row">
        <div
          class="col d-flex flex-row align-items-center justify-content-between"
          style="gap: 1rem"
        >
          <div class="home_title">Ministries</div>
          <div class="breadcrumbs ml-auto" style="text-align:right">
            <ul>
              <li><a href="index.html">Home</a></li>
              <li>Ministries</li>
              <li>Volunteer Opportunities</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="VolunteerSingle">
  {{! <div class="bg_selection"> }}
  <div class="container">
    <div class="row">
      <div class="col">

        {{#if this.opening.Image.url}}
          <img
            src="{{this.opening.Image.url}}"
            alt=""
            srcset=""
            class="SingleImage"
          />
        {{/if}}

        <div class="section_title_container text-center">
          <div class="section_title mb-4">
            {{this.opening.position}}
          </div>
        </div>
      </div>
    </div>
    {{! </div> }}
  </div>

  <div class="container">

    <div class="row">
      <div class="col">
        <div class="topInfo">
          <div><span class="label">Sponsoring ministry:
            </span>{{this.opening.sponsoringMinistry}}</div>
          <div><span class="label">Primary contact:
            </span>{{this.opening.primaryContact}}</div>

          <div>
            <span class="label">Time commitment: </span>
            <span class="frequency-text">{{this.opening.frequency}}</span>
          </div>
        </div>

        <div class="description">
          {{{this.opening.description}}}
        </div>

        <div class="form">
          <h2>Start volunteering now</h2>
          <div>Fill out the form below to get started volunteering</div>
          <form
            action="javascript:handleVolunteerSubmission(this, {{this.opening.id}})"
            id="volunteerForm"
          >
            <div class="formGroup">
              <input type="text" placeholder="Full Name" required id="name" />
              <label for="name">Full Name</label>
            </div>
            <div class="formGroup">
              <input
                type="email"
                placeholder="Email address"
                required
                id="email"
              />
              <label for="email">Email address</label>
            </div>
            <div class="formGroup">
              <label for="message">Please let us know if you have any additional
                questions or information we should know.</label>
              <textarea
                name="message"
                id="message"
                rows="10"
                placeholder="Message (optional)"
              ></textarea>
            </div>
            <div
              class="formGroup el-trap"
              style="position: absolute; opacity: 0; height: 0; width: 0; overflow: hidden; z-index: -1;"
            >
              <input
                type="text"
                placeholder="Your Website"
                id="website"
                name="website"
                tabindex="-1"
                autocomplete="off"
              />
              <label for="website">Your Website</label>
            </div>
            <button type="submit">Submit</button>
          </form>
        </div>

      </div>
    </div>
  </div>

</div>

<script src="/js/jquery-3.2.1.min.js"></script>
<script src="js/sermons.js"></script>
<script src="/js/volunteer.js"></script>